#define _color0 #1a1b26
#define _color1 #F7768E

! Sensible defaults
xterm*termName: xterm-256color
xterm*font: monospace
xterm*faceName: Hack Nerd Font Mono:size=11
xterm*boldMode: false
xterm*loginShell: true
xterm*vt100*geometry: 90x34
xterm*saveLines: 2000
xterm*charClass: 33:48,35:48,37:48,43:48,45-47:48,64:48,95:48,126:48
xterm*locale: false
xterm*utf8: true
xterm*scrollTtyOutput: false
xterm*scrollKey: true
xterm*scrollBar: false
xterm*rightScrollBar: false
xterm*bellIsUrgent: true
xterm*metaSendsEscape: true

! Keybinds
xterm*translations: #override \n\
    Ctrl Shift <Key>N: scroll-back(1, halfpage) \n\
    Ctrl Shift <Key>T: scroll-forw(1, halfpage) \n\
    Ctrl Shift <Key>C: copy-selection(CLIPBOARD) \n\
    Ctrl Shift <Key>V: insert-selection(CLIPBOARD)

#include ".config/xcolors/deafened-custom"
