! special
*.foreground:   #968c83
*.background:   #1e121a
*.cursorColor:  #968c83

! black
*.color0:       #160c13
*.color8:       #5e5252

! red
*.color1:       #9e3231
*.color9:       #b7211f

! green
*.color2:       #858162
*.color10:      #858162

! yellow
*.color3:       #bf8841
*.color11:      #eaa549

! blue
*.color4:       #426a79
*.color12:      #3e8099

! magenta
*.color5:       #9b4b34
*.color13:      #b25b47

! cyan
*.color6:       #989a9c
*.color14:      #989a9c

! white
*.color7:       #968c83
*.color15:      #d5ccba

URxvt*depth: 32

! transparency in i3
!URxvt.transparent: true
!URxvt.shading:20

Xft.dpi: 96
Xft.Hinting: 1
Xft.RGBA: rgba
Xft.HintStyle: hintslight
Xft.Antialias: 1

